body {
  text-align: center;
  width:100%;
}

form {
  width:250px;
  /*height:160px;*/
  margin:0 auto;
  margin-top: 30px;
  border:1px solid #efefef;
  border-radius: 5px;
  background-color: #efefef;
}



input {
  font-size: 0.7em;
  width:200px;
}
textarea {
  font-size: 1em;
  width:200px;
  height:50px;
}
button {
  position: relative;
  top: -10px;
}


ul.cover {
  list-style: none;
  margin:0 auto;
}

li {
  display: inline-block;
  margin-right:100px;
}

#navul {
  text-align: center;
  /*border:1px solid  black;*/
}

.commentbox {

}

.nav{
  border: 1px solid black;
  margin:0 auto;
}
/*#submit{
  width:60px;
}*/

.row{
  width:300px;
  /*height:30px;*/
  text-align: left;
  margin:0 auto;
  margin-top:5px;
  border:1px solid #efefef;
  border-radius: 5px;
  background-color: #ededed;
}
.main {
  text-align: center;
  margin-top:65px;
  /*border: 1px solid #efefef;*/
}
.shoe {
  border: 5px solid #ededed;
  margin-top: 30px;
}
.header {
  width:1024px;
  font-style: bold;
  margin: 0 auto;
  margin-bottom: 10px;
  /*border: 5px solid #ededed;*/
}

.board {
  margin-top: 50px;
}

#text {
  padding-left: 10px;
}

#home {
  color:black;
  text-decoration: none;
}

#shoe {
  /*border:1px solid #efefef;*/
  margin-right:10px;
}

#like {
  position: relative;
  top:10px;
  left:10px;
}

#searchbar {
  font-size: 1em;
  height:20px;
  border-radius: 5px;
  margin:20px 0 40px 0px;
}

#formhead{
  margin-top: 10px;
}




