<h1>Terry's Shoe Gallery</h1>
      <div  class="main">
         <ul class='cover' ng-controll="myControll">
            <li>
               <a href="/#/jordan"><img src="images/covers/jordan.png" width="300px"></a></br>
               <span>MJ 23</span>
            </li>
            
            <li>
               <a href="/#/kobe"><img src="images/covers/kobe.png" width="240px"></a></br>
               <span>KB 24</span>
            </li>
            
            <li>
               <a href="/#/lebron"><img src="images/covers/james16.png" width="200px"></a></br>
               LJ 23
            </li>

            <li>
               <a href="/#/curry"><img src="images/covers/curry.png" width="220px"></a></br>
               SC 30
            </li>
      </div>